@font-face {
  font-family: "iconfont"; /* Project id 4214431 */
  src: url('iconfont.woff2?t=1693296550166') format('woff2'),
       url('iconfont.woff?t=1693296550166') format('woff'),
       url('iconfont.ttf?t=1693296550166') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-renwushu:before {
  content: "\e68f";
}

.icon-chaxun:before {
  content: "\e69a";
}

.icon-zhengshu:before {
  content: "\e6a5";
}

.icon-tishi:before {
  content: "\e6bc";
}

.icon-chulichenggong:before {
  content: "\e6c3";
}

.icon-bianji:before {
  content: "\e6c4";
}

.icon-chulizhong:before {
  content: "\e6c5";
}

.icon-zhinan:before {
  content: "\e6c6";
}

.icon-gerendaichuli:before {
  content: "\e6c7";
}

.icon-daichuli:before {
  content: "\e6c8";
}

.icon-yichuli:before {
  content: "\e6c9";
}

.icon-shan:before {
  content: "\e6ca";
}

.icon-shezhi:before {
  content: "\e6cb";
}

.icon-kuangshan2:before {
  content: "\e6cc";
}

.icon-kuangshan:before {
  content: "\e6cd";
}

.icon-gerenyichuli:before {
  content: "\e6ce";
}

.icon-tuceng:before {
  content: "\e6cf";
}

.icon-huiju2:before {
  content: "\e6d0";
}

.icon-renyuan:before {
  content: "\e6d2";
}

.icon-anliku:before {
  content: "\e6f2";
}

.icon-fadan:before {
  content: "\e6f3";
}

.icon-shuangsuiji:before {
  content: "\e6f4";
}

.icon-pizhuan:before {
  content: "\e6f5";
}

.icon-briefcase-06:before {
  content: "\e706";
}

