$themes: (
    blue: (
        primary-bg: #1996E2,
        primary-color: #eeea0b,
        menu-bg: #41C4F8,
        menu-text-color: #e81313,
        normal-size: 12px,
        big-size: 24px,
    ),
    black: (
        primary-bg: #000,
        primary-color: #e01818,
        menu-bg: #343346,
        menu-text-color: #c9e50f,
        normal-size: 12px,
        big-size: 24px,
    )
)